body {

font-family: Gabriola, Monotype Corsiva, Vijaya;
color: #d8d8d8;
text-decoration: none;
text-shadow: 0 1px 1px #000;
font-size: 21px;
font-weight: bold;
}

table {
border-radius:14px;
}

h2 {
font-size: 30px;
}

h3 {
font-size: 30px;
color: #b84a00;
}

h4 {
color: #b84a00;
}

ul {
text-align:left;
}